<% #creates JavaScript variable called new_comment using jQuery %>
<% #"escape_javascript"" ensures it's a valid javascript %>
var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();

<% # put comment at the start of the wrapped id "comments" %>
$('#comments').prepend(new_comment);

<% # animate to highlight change in webpage %>
$('#comment_<%= @comment.id %>').fadeIn('slow');

<% # resets the form so someone else can add new comment%>
$('#new_comment')[0].reset();